@charset "UTF-8";


textarea, #reply-btn {
  vertical-align: middle;
}

textarea {
  width: 85%;
  height: 80px;
  resize: none;
  border: 1px solid #d6d6d6;
  display:inline;
  padding: 5px;
  outline: none;
}

#reply-btn {
  width: 15%;
  height: 80px;
  color: white;
  background-color: #017576;
  border: 1px solid #017576;
  padding: 5px;
  display:inline;
  padding: 10px;
  margin-left: -5px;
  border-radius: 0px 10px 10px 0px;
}

.content {
  min-height: 300px;
  vertical-align: top;
}

.reply_delete_btn {
  text-align: right;
}

@media screen and (min-width: 992px) {
  .container-pad {
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .row-border {
    border: 1px solid #d6d6d6;
  }
}

@media screen and (max-width: 768px) {
  textarea {
    width: 80%;
  }
  
  #insert-btn {
    width: 20%;
  }
  
  .reply_delete_btn {
    text-align: center;
  }
}