@charset "UTF-8";



.search_container {
	float: center;
	margin: 90px auto 0 auto;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	line-height: 20px;
}

.search_title {
	font-size: 22px;
	font-weight: bold;
	line-height:30px;
}

.sb-container {
	margin: 50px auto 0 auto;
	float: center;
}

.sb-example-1 .search {
	width: 450px;
	margin: 0 0 80px 750px;
	display: flex;
}

.sb-example-1 .searchTerm {
	width: 350px;
	height: 14px;
	border-style: 3px solid grey;
	border-right: none;
	padding: 18px 0 18px 18px;
	border-radius: 10px 0 0 10px;
	outline: none;
	color: #9DBFAF;
}

.sb-example-1 .searchTerm:focus {
	color: #017576;
}

.sb-example-1 .searchButton {
	width: 90px;
	height: 40px;
	border: 1px solid black;
	background: black;
	text-align: center;
	color: #fff;
	border-radius: 0 10px 10px 0;
	font-size: 18px;
}