@charset "UTF-8";


.room {
  padding: 20px;
}

.row-border {
  border: 1px solid #d6d6d6;
}

td {
  padding: 10px 0px;
  word-break: keep-all;
}

.underline:hover {
  text-decoration: underline;
}

.top-table-cname {
  font-size: 20px;
}

.top-table-left {
  width: 70px;
}

.logo-container {
  height: 190px;
  line-height:190px;
  text-align: center;
}

.clogo {
  width: 100%;
  height: auto;
  max-width: 190px;
  vertical-align: middle;
}

.topborder {
  border-top: 2px solid rgb(79, 79, 79);
}

.bggrey {
  background-color: rgb(231, 231, 231);
}


.padding-5 {
  padding:5px 20px;
  text-align: center;
}

.padding-10 {
  padding:10px 20px;
  text-align: center;
}

.title-deco {
  color: #017576;
  font-size: 16px;
  font-weight: bold;
}

.review-job {
  font-size: 20px;
}

.review-container {
    padding: 20px 70px;
    text-align: center;
    font-size: 16px;
}

textarea {
  resize: none;
}

.btn-like,
.btn-like:focus,
.btn-like:active,
.btn-like:active:hover,
.btn-like:hover {
  background-color: #F78181;
  color: white;
}

.btn-100 {
  width: 100%;
}


@media screen and (max-width: 992px) {
  #adend {
    display:none;
  }
}

@media screen and (min-width: 992px) {
  .container-pad {
    padding-left: 80px;
    padding-right: 80px;
  }

}