@charset "UTF-8";



.detail-container {
    margin-top: 50px;
}

td {
    padding: 10px 0px;
}

.row-border {
    border: 1px solid #d6d6d6;
    margin-left: 25px;
    margin-right: 25px;
}


.top-table-left {
    width: 70px;
}

.logo-container {
    height: 150px;
    line-height:150px;
    text-align: center;
}

.clogo {
    width: 100%;
    height: auto;
    max-width: 160px;
    vertical-align: middle;
}

.topborder {
  border-top: 2px solid rgb(79, 79, 79);
}

.bggrey {
  background-color: rgb(231, 231, 231);
}

.pad-10 {
  padding: 10px;
}

.row-padding {
  padding-left: 40px;
  padding-right: 40px;
}

.review-container {
  padding: 10px 0px;
}
.review-job {
  font-size: 18px;
}

.review-content {
    padding: 10px 0px;
}
.fa {
  font-size: 35px;
  color: #017576;
}