@charset "UTF-8";

.container-pad {
  padding-left: 50px;
  padding-right: 50px;
}

 .row {
  margin-left: 0px;
  margin-right: 0px;
}

 
.row-border {
  border: 1px solid #d6d6d6;
}

td {
  padding: 10px 0px;
  word-break: keep-all;
}

.underline:hover {
  text-decoration: underline;
}

.top-table-cname {
  font-size: 20px;
}

.top-table-left {
  width: 70px;
}

.logo-container {
  height: 190px;
  line-height:190px;
  text-align: center;
}

.clogo {
  width: 100%;
  height: auto;
  max-width: 190px;
  vertical-align: middle;
}

.topborder {
  border-top: 2px solid rgb(79, 79, 79);
  color: #017576;
  font-size: 16px;
}


.bggrey {
  background-color: rgb(231, 231, 231);
}

.pad-10 {
  padding: 10px;
}

.mg-5 {
  margin-bottom: 5px;
}

.mg-20 {
  margin-bottom: 20px;
}

.review-pad {
  padding: 0 30px 0 30px;
}
.review-job {
  font-size: 18px;
}

.review-content {
  padding: 10px 10px 10px 45px;
  word-break: keep-all;
}

.fa-thumbs-down,
.fa-thumbs-up {
  font-size: 35px;
  color: #017576;
}

h3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question {
  font-size: 15px;
}

textarea {
  border: 1px solid #d3dee8;
  width: 100%;
  resize: none;
  outline: none;
}

.send-btn {
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid RGB(1,117,118);
  background-color: RGB(1,117,118);
  color: white;
  float: right;
  font-size: 15px;
}


.helpful-btn {
  text-align: center;
  border-radius: 5px;
  border: 1px solid RGB(1,117,118);
  background-color: RGB(1,117,118);
  color: white;
  margin-right: 7px;
  font-size: 15px;
}

.delete-btn {
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 15px;

}
